<h1 class="text-center mb-3">PANEL DE CREACIÓN DE ADMINISTRATIVO</h1>
<div class="col-md-4 mx-auto">
  <div class="card">
    <div class="card-header text-center text-warning fw-bold">
      NUEVO ADMINISTRATIVO:
    </div>
    <div class="card-body text-center">
      <form [formGroup]="formulario" (submit)="creado()">
        <div class="form-group">
          <input type="text" class="form-control" formControlName="nombre_usuario" placeholder="Nombre Usuario" required autofocus>
          <small class="text-danger" *ngIf="formulario.get('nombre_usuario')?.invalid && (formulario.get('nombre_usuario')?.dirty || formulario.get('nombre_usuario')?.touched)">
            El nombre de usuario es obligatorio.
          </small>
        </div>
        <div class="form-group mt-3">
          <input type="text" class="form-control" formControlName="nombre" placeholder="Nombre" required>
          <small class="text-danger" *ngIf="formulario.get('nombre')?.invalid && formulario.get('nombre')?.errors?.['required'] && (formulario.get('nombre')?.dirty || formulario.get('nombre')?.touched)">
            El nombre es obligatorio.
          </small>
          <small class="text-danger" *ngIf="formulario.get('nombre')?.invalid && formulario.get('nombre')?.errors?.['pattern'] && (formulario.get('nombre')?.dirty || formulario.get('nombre')?.touched)">
            El nombre solo debe contener letras y espacios.
          </small>
        </div>
        <div class="form-group mt-3">
          <input type="text" class="form-control" formControlName="apellido1" placeholder="Apellido1" required>
          <small class="text-danger" *ngIf="formulario.get('apellido1')?.invalid && formulario.get('apellido1')?.errors?.['required'] && (formulario.get('apellido1')?.dirty || formulario.get('apellido1')?.touched)">
            El primer apellido es obligatorio.
          </small>
          <small class="text-danger" *ngIf="formulario.get('apellido1')?.invalid && formulario.get('apellido1')?.errors?.['pattern'] && (formulario.get('apellido1')?.dirty || formulario.get('apellido1')?.touched)">
            El primer apellido solo debe contener letras y espacios.
          </small>
        </div>
        <div class="form-group mt-3">
          <input type="text" class="form-control" formControlName="apellido2" placeholder="Apellido2">
          <small class="text-danger" *ngIf="formulario.get('apellido2')?.invalid && formulario.get('apellido2')?.errors?.['pattern'] && (formulario.get('apellido2')?.dirty || formulario.get('apellido2')?.touched)">
            El segundo apellido solo debe contener letras y espacios.
          </small>
        </div>
        <div class="form-group mt-3">
          <input type="password" class="form-control" formControlName="contrasena" placeholder="Contraseña" required>
          <small class="text-danger" *ngIf="formulario.get('contrasena')?.invalid && formulario.get('contrasena')?.errors?.['required'] && (formulario.get('contrasena')?.dirty || formulario.get('contrasena')?.touched)">
            La contraseña es obligatoria.
          </small>
          <small class="text-danger" *ngIf="formulario.get('contrasena')?.invalid && formulario.get('contrasena')?.errors?.['pattern'] && (formulario.get('contrasena')?.dirty || formulario.get('contrasena')?.touched)">
            La contraseña solo debe contener letras y números.
          </small>
        </div>
        <div class="row">
          <div class="col">
            <button type="submit" [disabled]="formulario.invalid" class="btn btn-warning btn-block mt-3">
              Crear
            </button>
          </div>
          <div class="col">
            <button type="button" class="btn btn-danger btn-block mt-3" (click)="cancelar()">Cancelar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>