<header class="container-fluid d-flex flex-wrap justify-content-center py-3">
  <a href="/" class="text-dark d-flex align-items-center mb-3 mb-md-0 me-md-auto text-decoration-none">
    <img class="w-25 " src="assets/img/header/Logo.png">
    <span class="fs-1">ESPATRACTOR</span>
  </a>

  <ul class="align-self-center nav nav-pills">
    <li class="nav-item"><button type="button" class="fs-3 mx-5 rounded-pill text-white btn btn-warning" onclick="location.href='/login'">Empleados</button></li>
  </ul>
</header>