<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2 class="text-center">Descripción de la empresa</h2>
      <p class="text-center mb-4">Somos una empresa familiar, con una dilatada experiencia en el sector agrícola, con más de 30 años en el mercado.
        Estamos a su servicio para ofrecerle un asesoramiento totalmente personalizado a la hora de elegir su nuevo tractor, incluyendo un servicio técnico postventa. Todos nuestros productos presentan una excelente relación calidad-precio y podemos encontrar cualquier modelo que necesite.
      </p>
      <p class="text-center mb-4">
        Disponemos del tractor que se mejor se adapta a sus necesidades, como los tractores bajos para los campos de olivo, los vehículos grandes para tierra calma y los pequeños para invernaderos. Trabajamos con todos los modelos de dos marcas pioneras en el sector: Lamborghini (con garantía de 1 año) y Pasquali (con garantía de 2 años). Todos los tractores de ambas marcas van desde 45 a 200 caballos de potencia.
        Como expertos en tractores, también disponemos de un amplio catálogo de tractores de ocasión a la venta. 
      </p>
      <p class="text-center mb-4">
        Estos vehículos han sido revisados cuidadosamente y han superado todos nuestros test de seguridad. Por otra parte, le podemos asesorar a la hora de adquirir sus recambios de maquinaria agrícola, siempre adaptándonos a sus necesidades y a su presupuesto.
        También disponemos de un taller agrícola donde contamos con mecánicos expertos en la reparación de todo tipo de tractores. Reparamos cualquier avería, empleando siempre piezas de primeras marcas. En nuestra tienda encontrará todos los aperos agrícolas que necesite para surtir su día a día con las herramientas agrarias apropiadas.
      </p>
    </div>
    <div class="col-md-6 d-flex justify-content-center align-items-center">
      <img src="assets/img/contenido/vista.jpg" alt="Imagen de la empresa" class="img-fluid">
    </div>
  </div>
</div>