<div class="card">
  <div class="card-header text-center text-warning fw-bold">
    <h4>Lista de Máquinas Reparadas
      <a (click)="nuevaReparacion()">
      <img class="float-end" src="assets/img/icons/google-plus.png">
    </a>
    </h4>
  </div>
  <div class="card-body">
    <div class="list-container">
      <ul class="list-group">
        <li *ngFor="let reparacion of reparaciones" class="list-group-item">
          <div class="field">
            <strong>Número de Reparación:</strong> {{ reparacion.n_reparacion }}
          </div>
          <div class="field">
            <strong>Mano de Obra:</strong> {{ reparacion.h_mano_de_obra }}
          </div>
          <div class="field">
            <strong>Kilómetros:</strong> {{ reparacion.id_maquina.kilometros }}
          </div>
          <div class="field">
            <strong>Horas de Trabajo:</strong> {{ reparacion.id_maquina.horas_trabajo }}
          </div>
          <div class="field">
            <strong>Marca:</strong> {{ reparacion.id_maquina.marca }}
          </div>
          <div class="field">
            <strong>Año de Matriculación:</strong> {{ reparacion.id_maquina.ano_matriculacion | date:'dd-MM-yyyy' }}
          </div>
          <div class="field">
            <strong>Nombre del Cliente:</strong> {{ reparacion.id_maquina.id_cliente.nombre }}
          </div>
          <div class="field">
            <strong>Tipo:</strong> {{ reparacion.id_maquina.tipo }}
          </div>
          <div class="field">
            <strong>Teléfono del Cliente:</strong> {{ reparacion.id_maquina.id_cliente.telefono }}
          </div>
          <div class="field">
            <strong>Correo del Cliente:</strong> {{ reparacion.id_maquina.id_cliente.correo_electronico }}
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>