<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card-header">
                Login
            </div>
            <div class="card-body">
                <form (submit)="login()">
                    <div class="form-group">
                        <input type="text" [(ngModel)]="user.nombre_usuario" name="Nombre Usuario" class="form-control" placeholder="Nombre Usuario" required autofocus>
                    </div>
                    <div class="form-group">
                        <input type="password" [(ngModel)]="user.contrasena" name="Contraseña" class="form-control" placeholder="Contraseña" required>
                    </div>
                    <button class="btn btn-success btn-block">
                        Login
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>