    <div class="row justify-content-md-center">
        <div class="bg-body-tertiary col-md-5  izquierda p-2 me-5 rounded shadow-sm">
            <h4 class="border-bottom pb-2 mb-0">ADMINISTRATIVOS<a href="/Administrador/CrearAdministrativo"><img class="float-end" src="assets/img/icons/mas.png"></a></h4>
        </div>
        
    
        <div class="bg-body-tertiary col-md-5  derecha  p-2 rounded shadow-sm">
            <h4 class="border-bottom pb-2 mb-0">MECÁNICOS<a href="/Administrador/CrearMecanico"><img class="float-end" src="assets/img/icons/mas.png"></a></h4>
        </div>
    </div>
