    <div class="row justify-content-md-center">
        <div class="bg-body-tertiary col-md-5  izquierda p-2 me-5 rounded shadow-sm">
            <h4 class="border-bottom pb-2 mb-0">ADMINISTRATIVOS<a routerLink="/Administrador/CrearAdministrativo"><img class="float-end" src="assets/img/icons/mas.png"></a></h4>
            <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">Usuario</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido1</th>
                    <th scope="col">Apellido2</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let administrativos of Administrativos | paginate: { itemsPerPage: 10, currentPage: page1, id: 'first' }">
                    <td>{{ administrativos.nombre_usuario }}</td>
                    <td>{{ administrativos.nombre }}</td>
                    <td>{{ administrativos.apellido1 }}</td>
                    <td>{{ administrativos.apellido2 }}</td>
                    <td><a routerLink="/Administrador/ModificarAdministrativo"><img class="float-end" src="assets/img/icons/escritura.png"></a></td>
                    <td><a (click)="delete(administrativos.nombre_usuario)"><img class="float-end" src="assets/img/icons/delete.png"></a></td>
                  </tr>
                </tbody>
              </table>
              <pagination-controls (pageChange)="page1 = $event" id="first" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
        </div>
        
    
        <div class="bg-body-tertiary col-md-5  derecha  p-2 rounded shadow-sm">
            <h4 class="border-bottom pb-2 mb-0">MECÁNICOS<a routerLink="/Administrador/CrearMecanico"><img class="float-end" src="assets/img/icons/mas.png"></a></h4>
            <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">DNI</th>
                    <th scope="col">Usuario</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido1</th>
                    <th scope="col">Apellido2</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let mecanicos of Mecanicos | paginate: { itemsPerPage: 10, currentPage: page2, id: 'second' }">
                    <td>{{ mecanicos.DNI }}</td>
                    <td>{{ mecanicos.nombre_usuario }}</td>
                    <td>{{ mecanicos.nombre }}</td>
                    <td>{{ mecanicos.apellido1 }}</td>
                    <td>{{ mecanicos.apellido2 }}</td>
                    <td><a routerLink="/Administrador/ModificarMecanico"><img class="float-end" src="assets/img/icons/escritura.png"></a></td>
                    <td><a (click)="delete(mecanicos.nombre_usuario)"><img class="float-end" src="assets/img/icons/delete.png"></a></td>
                  </tr>
                 
                </tbody>
                
              </table>
              <pagination-controls (pageChange)="page2 = $event" id="second" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
        </div>
    </div>