<h1 class="text-center">WEB OFICIAL DE ESPATRACTOR</h1>

  <div class="row mt-5">
    <div class="col-md-6 d-flex justify-content-center align-items-center">
      <img src="assets/img/contenido/p1.png" class="img-fluid w-75 custom-border" alt="imagen de un tractor pasquali">
    </div>
    <div class="col-md-6 d-flex justify-content-center align-items-center">
      <img src="assets/img/contenido/p2.png" class="img-fluid w-75 custom-border" alt="imagen de un tractor lamborghini">
    </div>
  </div>