<div class="row">
  <div class="col-md-6">
    <div class="d-flex justify-content-start">
      <img src="assets/img/contenido/siena.png" alt="Siena">
    </div>
  </div>
  <div class="col-md-6">
    <div class="d-flex flex-column justify-content-center h-100">
      <button class="btn btn-lg btn-success rounded-pill mb-4" (click)="maquinasReparadas()">MAQUINAS REPARADAS</button>
      <button class="btn btn-lg btn-warning rounded-pill" (click)="nuevaReparacion()">NUEVA REPARACIÓN</button>
    </div>
  </div>
</div>